.sticker{
    position: relative;
    width: 200px;
    height: 100px;
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    color:#5E210F;
    background: rgba(238, 238, 238, 0.6);
    box-sizing: border-box;
    transition: all .5s ease;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
}

.sticker:hover{
    background-color: rgba(235, 235, 235,1);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.3) 0px 3px 5px;
    transform: scale3d(1.05,1.05,1.05);
}
.sticker img{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
}
.sticker div{
    display: block;
    margin-top: 50px;
}
.sticker span{
    font-size: 10px;
    color: #5E210F;
}
.weatherContainer{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    display:block;
    position:absolute;
    left: 5px;
    bottom: 30px;
    font-size: 24px;
    font-weight: 100;
}
.temp{
    position: absolute;
    bottom: 5px;
    right:5px;
    font-size: 20px;
    color: #f35033;
}
.date{
    font-size: 14px;
}

.searchBar{
    width: 330px;
        height: 20px;
        padding: 10px 5px;   
        border: none;
        font-style: italic;
        background: #eee;
        -moz-border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;  
}
.searchBar:focus{
    outline: none;
}
.searchButton{
	overflow: visible;
        transition: all .5s ease;
        margin-top: 2px;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 110px;
        color: #fff;
        text-transform: uppercase;
        background: #f35033;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;      
}
.searchButton:hover{
    background: #d83c3c;
}

.searchButton:focus{
    outline:none;
}

h2{
    margin: 20px 0;
    font-size: 75px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5) ;
}
h3{
    margin: 20px 0;
    font-size: 25px;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5) ;
}