<input class="searchBar" type="text" placeholder="Entrez une ville..." #search required>
<button class="searchButton" (click)="onSubmit(search.value)">Valider</button>
<div>
  
  <h2>{{weather.city.name}}</h2><h3>{{weather.city.country}}</h3>
  <ul class="weatherContainer">
      <li class="sticker" *ngFor="let list of weather.list">
        <p class="date">{{list.dt_txt}}</p><br>  
        <p class="info">{{list.weather[0].description}}</p>
          <img src="../../assets/{{list.weather[0].main}}.svg">
          <div class="temp">{{list.main.temp}}°C
            <span>{{list.main.temp_min}}/{{list.main.temp_max}}</span>
          </div>
          
      </li>
  </ul>
  
</div>